DATABASE_URL=你的_DATABASE_URL

NUXT_PUBLIC_TEACHER_LIFF_ID=老師_LIFF_ID
NUXT_PUBLIC_STUDENT_LIFF_ID=學生_LIFF_ID

NUXT_TEACHER_LINE_CHANNEL_ID=老師_LINE_Login_Channel_ID
NUXT_STUDENT_LINE_CHANNEL_ID=學生_LINE_Login_Channel_ID
